<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.sgz886.MyMapper">
    <select id="selectNextAvailableLink" resultType="String">
        SELECT link
        FROM news.links_to_be_processed
        limit 1
    </select>

    <delete id="deleteLink" parameterType="String">
        delete
        from news.links_to_be_processed
        where link = #{url}
    </delete>

    <select id="checkLinkinFinishedTable" parameterType="String" resultType="int">
        select count(link)
        from news.links_already_processed
        where link = #{link}
    </select>

    <select id="checkLinkinTodoTable" parameterType="String" resultType="int">
        select count(link)
        from news.links_to_be_processed
        where link = #{link}
    </select>
    <insert id="insertLink" parameterType="String">
        insert into
        <choose>
            <when test="tableName=='news.links_to_be_processed'">news.links_to_be_processed</when>
            <otherwise>news.links_already_processed</otherwise>
        </choose>
        (link) values (#{link})
    </insert>

    <insert id="insertNews" parameterType="com.github.sgz886.News">
        insert into news.news (url, title, content, created_at, modified_at)
        values (#{url}, #{title}, #{content}, #{createdAt}, #{modifiedAt})
    </insert>

</mapper>